*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.app{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.app .form{
  width: 50%;
}
.form form{
  flex-basis: 20%;
  width: 50%;
  margin: 0 auto;
  padding: 1vh 1vw;
}
.form input{
  margin: 1vh .5vw;
}
.form input#priority{
  margin: 0 .1vw 0 0;
}
.form button{
  padding: .8vh 1vw;
  font-weight: 700;
  border: .1vw solid #000;
  background-color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  transition: .2s linear;
}
.form button:hover{
  color: #fff;
  background-color: #000;
}
.form h1{
  color: rgb(236, 20, 20);
  font-size: 1.5vw;
  text-align: center;
}
section{
  width: 80%;
  border-top: .4vh solid #666;
  text-align: center;
}
section h1{
  padding: 2vh 0;
  font-size: 1.8rem;
}
section p{
  padding: .7vh 0;
}
section p .important{
  color: rgba(255,0,0,1);
}
section button{
  margin: 0 .5vw;
  padding: .3vh .4vw;
  border: .1vw solid #000;
  font-weight: 700;
  background-color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  transition: .2s linear;
}
section button:hover{
  color: #fff;
  background-color: #000;
}
section.doneTasks h2{
  padding: 0 0 2vh;
  font-size: 1.2rem;
}
section.doneTasks span:last-of-type{
  display:block;
  margin-top: .2vh;
}