*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.app{
  display: flex;
  margin: 1vh 0;
  flex-direction: column;
  align-items: center;
  font-family: 'Roboto', sans-serif;
}
.app .form, section{
  width: 80%;
  margin: .1vh 0;
  border: .4vh solid #666;
  border-radius: 5%;
  font-weight: 700;
  letter-spacing: 2px;
  text-align: center;
  background-color: silver;
}
.app .form{
  flex-basis: 25vh;
  background-color: rgb(148, 147, 147);
  border-color: darkslategrey;
}
section.activeTasks{
  min-height: calc(100vh/3);
}
.form form{
  width: 50%;
  margin: 2vh auto;
}
.form input{
  margin: 1vh .5vw;
  padding: .3vh;
}
.form input#taskContent{
  width: 40%;
  line-height: 2vh;
}
.form input#priority{
  width: 1.8vh;
  height: 1.8vh;
}
button{
  padding: .8vh 1vw;
  font-weight: 700;
  border: .1vw solid #000;
  background-color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  transition: .2s linear;
}
button:hover{
  color: #fff;
  background-color: #000;
}
.form h1{
  color: rgb(172, 9, 9);
  font-size: 1.4vw;
  text-align: center;
  text-decoration: underline;
}
section h1{
  padding: 2vh 0;
  font-size: 1.8rem;
}
section p{
  padding: .7vh 0;
}
section p .important{
  color: rgba(255,0,0,1);
}
section button{
  margin: 0 .5vw;
  padding: .3vh .4vw;
}
section.doneTasks{
  flex-basis: calc(100vh/3);
}
section.doneTasks h2{
  padding: 0 0 2vh;
  font-size: 1.2rem;
}
section.doneTasks span:last-of-type{
  display:block;
  margin-top: .2vh;
}